.layout {
  overflow: hidden;
}

.layout main {
  min-height: 100%;
  margin-left: 250px;
  padding: 50px 50px 100px 50px;
  background-image: url("../public/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.login main {
  /* filter: sepia(1) blur(1px); */
  filter: blur(1px) brightness(0.2);
  width: 100%;
  min-height: 100%;
  left: 250px;
  padding: 50px 50px 100px 50px;
  position: absolute;
  background-image: url("../public/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.layout h3 {
  color: rgb(181 177 177);
  margin-top: 2em;
}
.main {
  align-content: center;
}
