@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");
.layout {
  overflow: hidden;
}

.layout main {
  min-height: 100%;
  margin-left: 250px;
  padding: 50px 50px 100px 50px;
  background-image: url("../public/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.login main {
  filter: blur(1px) brightness(0.2);
  width: 100%;
  min-height: 100%;
  left: 250px;
  padding: 50px 50px 100px 50px;
  position: absolute;
  background-image: url("../public/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.layout h1 {
  color: rgb(84 82 82);
  text-shadow: 3px 2px 7px #040404;
}
.layout h3 {
  font-family: "Balsamiq Sans", cursive;
  color: rgb(181 177 177);
  margin-top: 2em;
}
.main {
  align-content: center;
}
